.main {
  margin: 3%;
}

.heading {
  margin: 0;
font-family: 'Ginto Normal',sans-serif;
font-weight: bold;
font-size: 2.6rem;
line-height: 1.2;
letter-spacing: -0.01em;
}

.details {
  margin-top:3%;
 display: flex;
}

.paragraph{
  margin-right: 10%;
}

.profilepic{
  height: 30px;
  margin-left: -3px;
}

.author-name{
  color: #4d03d6;
  font-weight: bold;
  margin-bottom: 2%;
}

.buttons {
  display: flex;
  margin-top: 5%;
}
.save{
  color: #4c04d2;
  margin-top: 1%;
  margin-left: 7%;
  text-decoration: none;
  font-weight: bold;
}
.share{
  color: #4c04d2;
  margin-top: 1%;
  margin-left: 7%;
  text-decoration: none;
  font-weight: bold;
}

.schedule{
  background-color: #4c04d2;
  color: white;
  border-radius: 20px;
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%;
}

.images {

}

.img1{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 600px;
  height: 320px;
}
